@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Oswald:300|Playfair+Display&display=swap');

html { font-size: 1.25em;
       font-family: 'Playfair Display', serif;
       text-rendering: optimizeLegibility;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fffff8;
    color: #111;
    margin-top: 0;
    margin-bottom: 0;
}

body main {
    flex: 1 0 auto;
}
body header,
body footer {
  flex: none;
}

@media screen and (min-width: 800px) {
    body #content,
    body main,
    body header,
    body footer {
        margin: 0 auto;
        max-width: 800px;
        width: 800px;
    }
    body header {
        margin-top: 4rem;
    }

}

body a {
    text-decoration: none;
    color: inherit;
}

body h1 a,
body .title a,
body .subtitle a,
body h2 a,
body h3 a,
body h4 a,
body nav a {
    background: none;
}

body .title,
body .subtitle,
body h2,
body h3,
body h4,
body nav {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    hyphens: none;
}

body h2 {
    margin-top: 1.5em;
    font-size: 1.25em;
}

body h3 {
    font-size: 1.15em;
    margin-top: 1.2em;
}

body h2,
body h3,
body h4 {
    line-height: 1.2em;
}

body h1 b,
body h2 b,
body h3 b,
body h4 b {
    font-weight: inherit;
}

@media screen and (min-width: 800px) {
    body h1 b,
    body h2 b,
    body h3 b,
    body h4 b {
        display: block;
        font-size: 1.38em;
        font-weight: initial;
    }

    body header .title b {
        margin-top:-.35em;
    }

}

.status {
    border-bottom: none;
}

body header {
    padding-bottom: 1ex;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: .5ex solid black;
}

body header .title,
body header .subtitle {
    padding: 0;
    margin: 0;
    text-align: center;
}

body header .title {
    font-size: 1.5rem;
}


body header .subtitle,
body nav {
    margin-top: 1em;
    font-size: 1rem;
}


body nav > a {
    margin: 0 1ex;
}


@media screen and (min-width: 800px) {
    body header {
        flex-direction: row;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: space-between;
    }

    body header .subtitle,
    body header nav {
        margin: 0;
        font-size: 1.15rem
    }

    body header .title,
    body header .subtitle {
        text-align: left;
        margin: 0;
    }

    body header .title {
        font-size: 1.75rem;
    }
}

body .abstract {
    font-style: italic;
}

body .keywords {
    font-size: .95rem;
    text-align: left;
}

body .keywords p {
    text-align: left;
}


body .abstract,
body .keywords {
    margin: 1rem 1rem;
}

@media print, (min-width: 800px){
    body .keywords,
    body .abstract {
        margin: 1em 2em;
    }
}


body p {
    text-align: justify;
    hyphens: auto;
    line-height: 1.5rem;
}

body main img {
    display: block;
    margin: 0 auto;
    border-radius: .3em;
    border: 1px solid black;
    max-width: 100%;
}

body a[href^="#coderef"],
body code {
    font-family: 'IBM Plex Mono', monospace;
    font-size: .85rem;
}

body pre {
    white-space: pre-wrap;
    margin-left: 1em;
}

@media screen and (min-width: 800px){
    body pre {
        margin-left: 2em;
    }
}


body .src {
    font-family: 'IBM Plex Mono', monospace;
    border-radius: .3em;
    border: 1px solid black;
    padding: .8em 1.2em .4em;
    font-size: .75rem;
}

body .org-builtin {
    /* font-lock-builtin-face */
    color: #424242;
    font-weight: bold;
}

body .org-comment {
    /* font-lock-comment-face */
    color: #40883f;
}

body .org-comment-delimiter {
    /* font-lock-comment-delimiter-face */
    color: #40883f;
}

body .org-constant {
    /* font-lock-constant-face */
    color: #989848;
    font-weight: bold;
}

body .org-doc {
    /* font-lock-doc-face */
    color: #40883f;
}

body .org-keyword {
    /* font-lock-keyword-face */
    color: #989848;
}

body .org-string {
    /* font-lock-string-face */
    color: #b85c57;
}

body .org-variable-name {
    /* font-lock-variable-name-face */
    color: #4fa8a8;
}

body footer {
    margin-top:2rem;
    font-size: .75rem;
    color: #888888;
}

body footer a {
    color: #888888;
}

body footer p {
    text-align: center;
}

@media screen and (min-width: 800px) {
    body footer {
        margin-top: 2em;
    }
}

body .small-caps {
    font-feature-settings: "smcp";
}

body ul {
    list-style-type: square;
}

body li {
    margin-bottom: 1em;
}

body dl {
    width:100%;
    overflow: hidden;           /*I don't understand how there can even be overflow...*/
}

body dl dt,
body dl dd {
    float:left;}

body dl dd {padding-bottom: .5em;
            margin-left:1em;}
body dl dt {width:100%; }


@media print, (min-width: 800px) {
    body dl dt {
        width:17%;
    }
    body dl dd {
        width:83%;
        margin-left:0;
    }
}

body dd ul {margin: .5ex;}

/* Tables */
table {
    margin: 1em auto;
    width: 100%;
    border: 2px solid;
    border-collapse: collapse;
}

thead {
    font-family: 'Oswald', sans-serif;
    border-bottom: 2px solid;
}

table td + td, table th + th {
    border-left: 1px solid gray;
}

table tr {
    border-top: 1px solid lightgray;
}

td,th {
    padding: 0.3em 0.6em;
    vertical-align: middle;
}

caption.t-above {
    caption-side: top;
}

caption.t-bottom {
    caption-side: bottom;
}

caption {
    margin-bottom: 0.3em;
}

figcaption {
    margin-top: 0.3em;
}

th.org-right {
    text-align: center;
}

th.org-left {
    text-align: center;
}

th.org-center {
    text-align: center;
}

td.org-right {
    text-align: right;
}

td.org-left {
    text-align: left;
}

td.org-center {
    text-align: center;
}

/* clean up when printing */
@media print {
    html {
        font-size: 1em;
    }
    body nav {
        display:none
    }
    body header,
    body h2,
    body h3 {
        font-size: 110%;
        border-bottom: none;
    }
    body abbr {
        text-decoration: none;
    }
    body header .subtitle {
        margin-top: 0em;
    }
    body abbr {border-bottom-width: 0;}
    main {
        position:absolute;
    }
    div[class="outline-3"]{
        page-break-before: auto;
        page-break-after: auto;
        page-break-inside: avoid;
    }
    /* the footer doesn't place right in Fx */
    footer {
        display: none;
    }
}
